<!-- Welcome#index -->
<p>
  <h1>Welcome to Posty</h1>
  <h3>Posty is a collaborative project that will allow you to post text snippets to share with others.</h3>
  <p>This is the homepage.</p>
  <%=link_to "Check out the Posties", posts_path %>
</p>
